{% extends 'base.htm' %}
{% block title %}
<title>Результаты поиска игрока</title>
{% endblock %}
{% block content %}
<section id="search">
	Введите фамилию или её часть не менее трех символов
	<form method="post" action="{{url_for('find_player')}}">
		<input type=text name="name">
		<input type=Submit value=Поиск>
    </form>
</section>
<section id="results">
{% if players %}
    <div>По вашему запросу найдены следующие игроки</div>
    <table>
    {% for player in players %}
        <tr>
        {% for col in player[1:] %}
            <td><a href='{{url_for("player_xml", player_id=player[0])}}'>{{col}}</a></td>
        {% endfor %}
    {% endfor %}
    </table>
{% else %}
    {% if name %}<p>Игроков по вашему запросу не найдено</p>{% endif %}
{% endif %}
{% if new_players|length > 0 %}
    <div><br />Cледующие игроки ожидают добавления в базу данных</div>
    <table>
    {% for player in new_players %}
        <tr>
        {% for col in player[1:] %}
            <td>{{col}}</td>
        {% endfor %}
    {% endfor %}
    </table>
{% endif %}
</section>
{% if has_permission(current_user, 'AddPlayers') %}
<section id="add">
    <a href="{{url_for('add_player')}}"><button>Добавить игрока</button></a>
</section>
{% endif %}
{% endblock %}