{% extends 'base.htm' %}
{% block content %}
<a href="{{url_for('find_player')}}"><button class="tool"><img width="24px" height="24px" src="{{url_for('static', filename='search.svg')}}"/></button></a>
&nbsp;
<a href="{{url_for('excel_list')}}"><button class="tool"><img width="24px" height="24px" src="{{url_for('static', filename='excel.svg')}}"/></button></a>
{% if has_permission(current_user, 'Admin') %}
<br />
  {% if base_unlocked() %}
    <a href="{{url_for('toggle_lock_state',next=request.path)}}"><button class="tool"><img id="lock-icon" width="24px" height="24px" src="{{url_for('static', filename='unlocked.svg')}}"/></button></a>
  {% else %}
    <a href="{{url_for('toggle_lock_state',next=request.path)}}"><button class="tool"><img id="lock-icon" width="24px" height="24px" src="{{url_for('static', filename='locked.svg')}}"/></button></a>
  {% endif %}
{% endif %}
{% endblock %}