{% extends 'base.htm' %}
{% set link = "http://www.bridgesport.ru/players/player.php?player_id="%}
{% block title %}<title>Список игроков{% if extratitle %} {{extratitle}}{% endif %}</title>{% endblock %}
{% if skipheader %}{% block header %}{% endblock %}{% endif %}
{% block content %}<table class="playerlist">
    <tr>
        <th rowspan="2">#</th>
        <th rowspan="2">ID</th>{% if not skipfather %}
        <th rowspan="2">Фамилия</th>
        <th rowspan="2">Имя</th>
        <th rowspan="2">Отчество</th>{%else%}
        <th rowspan="2">Игрок</th>{% endif %}
        <th rowspan="2">Город</th>
        <th rowspan="2">Разряд</th>
        <th rowspan="2">Рейтинг</th>
        <th colspan="2">МБ</th>
    </tr>
    <tr>
        <th>Оффлайн</th>
        <th>Онлайн</th>
    </tr>
{% for player in players %}
    <tr>
        <td align="right">{{loop.index}}</td>
        <td align="left">{{player['id']}}</td>{% if not skipfather %}
        <td><a href="{{link}}{{player['id']}}">{{player['lastname']}}</a></td>
        <td><a href="{{link}}{{player['id']}}">{{player['firstname']}}</a></td>
        <td><a href="{{link}}{{player['id']}}">{{player['fathername']}}</a></td>
        {%else%}<td><a href="{{link}}{{player['id']}}">{{player['firstname']}}&nbsp;{{player['lastname']}}</a></td>{%endif%}
        <td>{{player['city']}}</td>
        <td>{{player['razr']}}</td>
        <td>{{player['rate']}}</td>
        <td>{{player['mb']}}</td>
        <td>{{player['emb']}}</td>
    </tr>{% endfor %}
</table>{% endblock %}
