body {
	margin: 0px;
}
header {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: stretch;
	background-color: #eee;
	padding: 3px 10px;
	margin-bottom: 20px;
}

header.home {
	order: 1;
}
header.block_auth {
	vertical-align: middle;
	order: 2;
}

.block_auth img{
	height: 16px;
	vertical-align: middle;
}

main {
	margin: 10px;
}
section {
	margin: 15px 3px;
}

button.tool {
    border: 1px solid #CCCCCC;
    background: #EEEEEE;
	border-radius: 33%;
	padding: 12px;
	box-shadow: 2px 6px 6px 0 #999;
}

button.tool:hover {
    background: #DDDDDD;
}

button.tool:active {
  background: #DDDDDD;
  box-shadow: 2px 3px 3px 0 #999;
  transform: translateY(4px);
}
